@keyframes move {
    0% {
        transform: translateY(-150px);
        opacity: 0%;
    }
    40% {
        opacity: 0%;
    }
    100% {
        transform: translateY(0px);
        opacity: 100%;
    }
}

.moving {
    animation: 1s ease-in-out 0s 1 move;
}

@keyframes moveLogined {
    0% {
        transform: translateY(0px);
    }
    20%
    {
        border-radius: 35px 35px 0px 0px;
    }
    100% {
        transform: translateY(-100%);
    }
}

.logined-pc {
    transition: transform 1s;
    transition-timing-function: ease-in;
    transform: translateY(calc(-100% + 80px));
    border-radius: 0px 0px 30px 30px;
}

.logined-mobile {
    transition: transform 1s;
    transition-timing-function: ease-in;
    transform: translateY(calc(100% - 60px));
    border-radius: 35px 35px 0px 0px;
}