@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-thin {
  font-weight: 100!important;
}

.font-light {
  font-weight: 300!important;
}

.font-regular {
  font-weight: 400!important;
}

.font-medium {
  font-weight: 500!important;
}

.font-bold {
  font-weight: 700!important;
}

.vertical-center {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently not supported by any browser */
}

img.unselectable {
  pointer-events: none
}